

.wqw{

    height: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
}    
.wqw1{

text-align: start;
background-color: #F8F8F9;

}

.wqw2{
text-align: center;
background-color: #F8F8F9;
color: crimson;

    
}


.wqw3{
text-align: end;
background-color: #F8F8F9;
color: #0f072b;
    
}



.header{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    position: relative;
    background-color: #ffffff3e;
  
}


.a1 {
    
    left: 50px;
   



}

.bb{
    background-color: rgba(29, 104, 8, 0.824);
  border: 2px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 200px;
  border-radius: 25px;
  transition-duration: 0.5s;
  
}

.bb:hover {
background-color: #e4ebdc; /* Green */
  color: rgb(28, 93, 15);
}

.button {
  
}


.li11{
    text-decoration: solid;
    text-shadow: #1b4746;
    font-size: x-large;
    font-weight: 600;
    font-style: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding-left: 100px;


    }

ul {
  list-style: none;
  padding-top:10px ;
}
li {
    
margin-top: 30px;
  display: inline-block; /* Aligns items horizontally while maintaining block properties */
  padding: 10px; /* Adds spacing and makes the whole area clickable if used on an `a` tag inside */
  
}
.a2{

}



.hea{
color: #1b4746;
text-align: center;
font-size: 60px;

text-align: center;
}
.h2{
    margin-left: 50px;
    color: #713249;
    margin-top: 10px;
    padding-top: 20px;
    margin-bottom: 0;
    
}

.h1 {
    margin-left: 50px;
    color: #0a3837;
    margin-bottom: 0;
    margin-top: 0px;
    padding-top: 0;
    
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.h2{
 font-family: "Lavishly Yours", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: x-large;
  color: #1b4746;
  
  



}
.d2{
    padding-top: 5px;
    display: grid;
    grid-template-columns: 0.5fr 6fr 0.5fr;
    height: 400px;
    margin-left: 0;
    margin-top: 0px;
    background-color: #b7b7b700;
    position: relative;
    left: 0;
    border: #1b4746;
    border-radius: 2px;
    margin-top: 80px;
    
}
.d22{
    
    display: block;
    


}


.d22{
    
    position: relative;
    
    margin-top: 0px;
    margin-left: 2px;
    
   
}

.py{
    
    padding-left: 10px;
    text-align: center;
    margin-right: 10px;
    font-size: xx-large;
    color: #0f3507;
    font-weight:500 ;
    
    
}
.pz{
    padding-left: 10px;
    text-align: center;
    margin-right: 10px;
    font-size: xx-large;
    color: #28470d;
    font-weight: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ftt{
position: relative;
  left: -9px;
  
  bottom: 0;
  width: 100%;
  background-color: rgba(56, 52, 52, 0.808);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  top: 400px;
  height: 300px;
  
}



.dwt{
    margin-top: 0px;
    margin-left: 0px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #e9d7de7e;

}

.dwth{
    color: #0f072b;
text-align: center;
font-size: 40px;
margin-top: 350px;
text-align: center;
margin-bottom: 0;

}

.p1{
    text-align: center;
    font-size: x-large;
    margin-bottom: 0;
    font-size: larger;
}

.p2{
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 105px;
}
.p3{

    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 105px;
}

.p4{
text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 105px;
}
.p5{
text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 90px;
}
.p6{
text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70px;
}
.p7{
text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70px;
}

.p8{
text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 90px;
}


.dwt2{ margin-top: 0px;
    margin-left: 0px;
    height: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    background-color: #9ca378;
    margin-top: 20px;
}

.dtl{
    text-align: center;
}

.dtl li{
list-style: none;
display: inline-block;
}
  


.ftd{

 display: flex;
   
    

}

.lo{

        text-align: center;
        
}
.co{
    text-align: center;

}



iframe{
    padding-left: 150px;
    height: 220px;
    width: 350px;
}


.ss{
    background-color: #cedbdb6f;
    height: 600px;





}
h2{
    text-align: center;
}


.i1 img {
 width: 500px;
 height: 800px;
  object-fit: cover; /* or 'contain', 'fill', 'none', 'scale-down' */


}